<ul>
  <li (click)='selectedItem = "Simple Component"'>Simple Component</li>
  <li (click)='selectedItem = "LifeCycle Hooks"'>LifeCycle Hooks</li>
  <li (click)='selectedItem = "Test With Metadata"'>Test With Metadata</li>
  <li (click)='selectedItem = "DataBinding Test"'>DataBinding Test</li>
  <li (click)='selectedItem = "InputOutput Test"'>InputOutput Test</li>
</ul>

<app-simple *ngIf='selectedItem == "Simple Component"' ></app-simple>
<app-lifecycle *ngIf='selectedItem == "LifeCycle Hooks"' ></app-lifecycle>
<app-metadata *ngIf='selectedItem == "Test With Metadata"' ></app-metadata>
<app-databinding *ngIf='selectedItem == "DataBinding Test"' ></app-databinding>
<app-inputoutput *ngIf='selectedItem == "InputOutput Test"' ></app-inputoutput>